{% extends 'layout.html' %}

{% block title %}Posts{% endblock %}

{% block content %}
  <div id="mapContainer"></div>
  <script>
    var vietnam = [14.05, 108.27]
    var hanoi = [21.0278, 105.8342]
    var hcmc = [10.8231, 106.6297]
    var danang = [16.04, 108.13]

    var mymap = L.map('mapContainer').setView(vietnam, 5);

    L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token=pk.eyJ1IjoiaHVuZ3J5emkiLCJhIjoiY2luZnpnbW9nMDA4c3c3bHl6ODA2d2doYiJ9.Qs6xcTrglCv8984MEr3T7g', {
      maxZoom: 18,
      attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, ' +
      '<a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
      'Imagery © <a href="http://mapbox.com">Mapbox</a>',
      id: 'mapbox.streets'
      }).addTo(mymap);


    L.marker(hanoi).addTo(mymap)
      .bindPopup("<b>Hello world!</b><br />I am a popup.").openPopup();

    L.circle(hcmc, 500, {
      color: 'red',
      fillColor: '#f03',
      fillOpacity: 0.5
      }).addTo(mymap).bindPopup("I am a circle.");

    L.polygon([
      hanoi,
      danang,
      hcmc
      ]).addTo(mymap).bindPopup("I am a polygon.");

    var popup = L.popup();

    function onMapClick(e) {
      popup
      .setLatLng(e.latlng)
      .setContent("You clicked the map at " + e.latlng.toString())
      .openOn(mymap);
    }

    mymap.on('click', onMapClick);
  </script>
{% endblock %}
